{% extends 'base.html' %}
{% block content %}
<h2>Station Dashboard</h2>
<div class="grid-list">
  {% for station in station_cards %}
  <a class="quick-pallet" href="/stations/{{station.id}}">
    <strong>{{station.name}}</strong>
    <span>Current assigned pallet: {{station.current_pallet}}</span>
    <span>Queue length: {{station.queue_length}}</span>
    <span>Hours operated today: {{station.hours_operated}}</span>
    <span># of parts processed today: {{station.parts_processed}}</span>
  </a>
  {% endfor %}
</div>
{% endblock %}
