{% extends 'base.html' %}
{% block content %}
<h2>{{station.station_name}} Login</h2>
{% if error %}<div class="form-error-banner">{{error}}</div>{% endif %}
{% if ok %}<div class="ok-banner">{{ok}}</div>{% endif %}
<form method="post" class="panel-form">
  <label>User ID</label>
  <input name="station_user_id" required />
  <label>Password</label>
  <input name="station_password" type="password" required />
  <button type="submit">Log in to {{station.station_name}}</button>
</form>
{% endblock %}
